RewriteEngine On


#-----------------------------------------------#
# SET THE WEBSITE LANDING PAGE
#-----------------------------------------------#

RewriteRule ^$  index.php
RewriteRule ^admin$  cpanel/web_pages/auth.php?page=login


RewriteRule ^vacancies/([0-9]+)$ job-details.php?id=$1      

RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php


 # SET news PAGES
RewriteRule ^news/([0-9]+)(/*)$ website/corporate/single_news?action=$1

RewriteRule ^scan(/*)$ riba.scan.apk

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^sub_directory/(.*)$ /$1 [R=301,NC,L]
</IfModule>
