RewriteEngine On

#-----------------------------------------------#
# SET THE WEBSITE LANDING PAGE
#-----------------------------------------------#

RewriteRule ^$ index.php [L]
RewriteRule ^admin/?$ admin/index.php [L]

RewriteRule ^vacancies/([0-9]+)$ job-details.php?id=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# SET news PAGES
RewriteRule ^news/([0-9]+)(/*)$ website/corporate/single_news?action=$1 [L,QSA]

RewriteRule ^scan(/*)$ riba.scan.apk [L]

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^sub_directory/(.*)$ /$1 [R=301,NC,L]
</IfModule>