/* Panel App */
.panel{
    border-radius: 0px;
}
.panel_default{
	border-radius: 0px; 
	border-color: rgba(0,0,0,.0); 
	box-shadow: 0 0 5px rgba(20,20,20,.4)
}
.panel_default .panel-heading{
	border-bottom: 1px solid rgba(200,200,200,.4);
	box-shadow:  2px 2px .5px rgba(200,200,200,.2);
	background: rgba(250,250,250,1);
}


/*User profile Sction*/
.user_profile_section>.layout{
    background: #fff;
    border: 1px solid #E0E2E5;
    position: relative;
    height: 100%;
}
.user_profile_section .main_row{
    position: relative;
    height: 100%;
    margin: 0px!important;
}

.user_profile_section .main_row > .col_menu{
    position: relative;
    padding: 0px;
    border-right: 1px solid #ECF0F5;
}
.user_profile_section .main_row > .col_details{
    position: relative;
    height: 100%;
}
/* End User profile Sction*/

/* Profile Menu Panel */
.user_profile_session{
    
}
.profile_menu_panel{
    margin-bottom: 0px;
    border: 0;
}
.profile_menu_panel .photo_inner{
    position: relative;
    height: 280px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #ECF0F5;
}
.profile_menu_panel .photo_inner .layout{
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0px;
    background: rgba(29,29,31,.43);
}
.profile_menu_panel .photo_inner .blur_bg{
    position: absolute;
    z-index: 1;
    display: block;
    width: 500px;
    height: 100%;
    left: -200px;
transform: scale(1.6);
    background-size: 600px 200px;
    background-repeat: no-repeat;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}
.profile_menu_panel .photo_inner .p_photo{
    display: inline-block;
    border-radius: 100%;
}
.profile_menu_panel .photo_inner .options_div{
    position: absolute;
    width: 100%;
    height: 55px; 
    bottom:0px;
    padding: 10px 15px;
    background: rgba(100,100,100,.5);
    
    -webkit-transition: bottom;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: .4s;
}
.profile_menu_panel .photo_inner:hover .options_div{
    bottom:0px;
    -webkit-transition: bottom;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: .4s;    
    -webkit-transition-delay: .2s;

}
.profile_menu_panel .photo_inner .options_div .update_btn{
    font-size: 14px;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: 0;
    transition: all .5s
}
.profile_menu_panel .photo_inner .options_div .update_btn:hover{
    background: rgba(0,0,0,.7);
    transition: all .5s
}

.profile_menu_panel .profile_menu{
    padding: 15px 0px;
}

.profile_menu_panel .profile_menu li{
    margin-left: 0px;
    width: 100%;
}

.profile_menu_panel .profile_menu a{
    padding: 9px 15px;
    font-size: 15px;
    color: #777;
    border-top: 0;
    display: block;
    transition: color .2s;
}
.profile_menu_panel .profile_menu a:hover{
    color: #EF5B8B;
    transition: color .5s;
    background: #FcFcFc
}

.profile_menu_panel .profile_menu li.active a{
    border-top: 0;
    border-left: 2px solid #EF5B8B;
    color: #000;
    font-weight: normal;
    background: transparent;
}

.profile_menu_panel .profile_menu li.active a .fa{
    color: #EF5B8B;
}
/* End Profile Menu Panel*/

/* Profile Details Panel*/
.profile_details_panel{
    border-radius: 3px 3px 0px 0px;
    margin-bottom: 0px;
    box-shadow: none;
}
.profile_details_panel .panel-body{
    padding: 0px;
}
.profile_details_panel .panel-body a.row_detail{
    display: block;
    padding: 10px 24px;
    border-bottom: 1px solid #ECF0F5;
}
.profile_details_panel .panel-body a.row_detail .row{
}
.profile_details_panel .panel-body a.row_detail .label{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.profile_details_panel .panel-body a.row_detail .value{
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.profile_details_panel .panel-body a.row_detail .label,
.profile_details_panel .panel-body a.row_detail .value{ 
    color: #181818;
}
.profile_details_panel .panel-body a.row_detail:hover .label,
.profile_details_panel .panel-body a.row_detail:hover .value{ 
    color: #777;
}
.profile_details_panel .panel-body a.row_detail .more_btn{
    color: #aaa;
}
.profile_details_panel .panel-body a.row_detail .more_btn{
    text-align: right;
    transition: all .4s
}
.profile_details_panel .panel-body a.row_detail:hover .more_btn{
    color: #181818;
    transition: all .4s
}

.profile_details_panel .row{
    margin-left: -5px;
    margin-right: -5px;
}
.profile_details_panel .row .col{
    padding-right: 5px;
    padding-left: 5px
}
/* End Profile Details Panel*/


/* Participant Finder */
.box-tools .searchAgain{
    font-size: 1.2em;
    color: #3c763d;
}
/* End Participant Finder */