


body {
   font-family: 'Raleway', sans-serif;
    line-height:25px;
    font-size:14px;
}


select.radiocolor option.opt1
{
    background-color: #007700;
	height: 10px;
	font-size: 24px;
}

.field_note{
	font-size: 13px;
	color: #999;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 15px;
	z-index: 9999;
}
.se-pre-con .icon-el{
	width: 100%;
	height: 15px;
	margin: auto;
	background: url(images/Preloader_21.gif) center no-repeat transparent;
	background-size: 100% 15px;
}

#wrapper {
    width: 100%;
    background: #d2d2d2;    
}

@media(min-width: 678px){
	#wrapper {    
		POSITION: FIXED;
		Z-INDEX: 99999
	}
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 800px;
	background: #fff
}

#page-inner {
    width: 100%;
    margin: 0px 20px 10px 0px;
    background-color: #fff!important;
    padding: 40px 10px 10px 10px;
    min-height: 800px;
	margin-top: 20px
}

@media(min-width: 678px){
	#main-menu{
		margin-top: 200px;
		width: 180px
	}
}

@media(min-width: 678px){
	.user-img-div{
		margin-top: -150px;
		position: fixed;
		width: 180px;
		z-index: 9999
	}
}

#page-inner .panel-primary{
	border: 1px solid #d6e9c6;
}

#page-inner .panel-primary .panel-heading{
    padding: 5px 15px;   
	background-color: #dffada;
    border-color: #d6e9c6;
}
#page-inner .panel-primary .panel-heading a{
	color: #2e6da4;
	text-decoration: none;
	cursor: pointer;
}
#page-inner .panel-primary .panel-heading{
	color: #2e6da4;
	font-weight: 600;
}

.page-head-line {
    font-size: 25px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;    
	line-height: .8;
    padding-bottom: 10px;
    border-bottom: 2px solid #5cb85c;
    margin-bottom: 30px;
	margin-top: 5px;
}
.page-head-line .label {
    font-size: 13px;
}

.glyphicon-lock{
	color: #666
}
.glyphicon-edit{
	color: #e06850
}

.btn {
}

.progress {
    height: 15px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #A3A3A3!important;
}


/*==============================================
    MENU STYLES    
 =============================================*/


.navbar-cls-top .navbar-brand {
    color: #fff;
    width: 180px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
	padding: 5px 5px;
}
.navbar-cls-top .navbar-brand:hover {
    background: #337ab7;
    color: #fff;
}
.header-right {
    color: #fff;
    padding: 15px 50px 5px 50px;
    float: right;
    font-size: 16px;
}
.user-img-div {
    min-height: 100px;
    padding: 5px;
    text-align:center;
}

    .user-img-div img {
        height: 100px;
        width: 100px;
        border: 5px solid #337ab7;
    }

   
.active-menu {
    background-color: #fff!important;
    border-left: 5px solid #337ab7;
	background: #dffada!important;
	font-weight: 600;
}
.active-menu-top {
    background-color: #000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

    .nav-second-level li a {
        padding-left: 37px;
    }

    .nav-third-level li a {
        padding-left: 55px;
    }

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

    .sidebar-collapse .nav {
        padding: 0;
    }

        .sidebar-collapse .nav > li > a {
           color: #1e4798;
            background: #E2E2E2;
            text-shadow: none;
            border-bottom: 1px solid #D2D2D2;
        }

    .sidebar-collapse > .nav > li > a {
        padding: 5px 10px;
    }

    .sidebar-collapse .nav > li > a:hover,
    .sidebar-collapse .nav > li > a:focus {
        background: #D2D2D2;
        outline: 0;
    }



.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}

.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}

.navbar-side {
    border: none;
}

.navbar-side li ul{
    background: #fff;
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 15px;	
	
}
.navbar-side li ul li{
    background: rgba(255,255,255,.8);
}

.navbar-side li ul a{
	display: block;
	padding: 1px 0px;
	font-size: 13px;
	border-bottom: 1px solid #d6e9c6;
    background: #fff;
	padding-left: 5px;
}
.navbar-side li ul  li:hover a{
	background: #dffada;
	font-weight: 600;
}

.navbar-cls-top {
    border-bottom: none;
}


.navbar-default {
    border: 0px solid black;
	min-height: 0px;
	background: #19274C
}

.navbar-header {
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #337ab7;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
        
    }

.nav > li > a > i {
    margin-right: 10px;
}

/*==============================================
    NOTIFICATION  STYLES    
 =============================================*/
.notifications-wrapper {
margin-left:3px;
}

.notifications-wrapper .nav {
}
.notifications-wrapper li {
display: inline-block;
}


.notifications-wrapper li a {
padding: 10px;
min-height: 50px;
}



.notifications-wrapper .dropdown-tasks {
width: 250px;
min-width: 0;
}


.notifications-wrapper .dropdown-menu li {
display: block;
}

.notifications-wrapper .dropdown-menu li a {
padding: 3px 20px;
min-height: 0;
}
.notifications-wrapper .nav > li > a {
    color:#fff;
}
.notifications-wrapper .nav > li > a:hover, .notifications-wrapper .nav > li.active > a, .nav > li > a:focus {
text-decoration: none;
    color:#337ab7;

}
.notifications-wrapper .dropdown-menu{
    margin:0px; 
     border-radius:0px!important;
    -moz-border-radius:0px!important;
    -webkit-border-radius:0px!important;}

/*==============================================
    FOOTER  STYLES    
 =============================================*/
footer {
    background-color:#5CB85C;
    padding:10px 50px;
    color:#fff;
    font-size:12px;
}

    footer a {
        color:#fff;
    }
   footer a:hover, footer a:focus {
        color:#fff;
        text-decoration:none;
    }

/*===============================================================================================
    DASHBOARD STYLES
 ===============================================================================================*/

.style-box-one {
    text-align: center;
    padding: 20px;
     margin-bottom: 40px;
    border-left: 10px solid #262626;
}

    .style-box-one a, .style-box-one a:hover {
        color: #fff;
        text-decoration: none;
    }

    .style-box-one span {
        font-size: 50px;
        padding-bottom: 10px;
    }

.Style-one-clr-one {
    background-color: #d96614;
}

.Style-one-clr-two {
    background-color: #2bbeb5;
}

.Style-one-clr-three {
    background-color: #e83dab;
}

.Style-one-clr-four {
    background-color: #adab36;
}

.current-notices ul {
    padding-left:20px;
    list-style:decimal-leading-zero;
    line-height:30px;
}

/*==============================================
    MEDIA QUERIES     
  =============================================*/

@media (min-width:768px) {
    .page-wrapper-cls {
        margin: 0 0 0 180px;
    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 180px;
    }

    .navbar {
        border-radius: 0px;
    }
}
@media (min-width:280px) and (max-width:767px ){
    #menuClose {
        visibility:hidden;
    }
}



/*===============
MY CUSTOMER
================*/
body.login{padding-top:20px;
   
}
.remember {
    text-align: right;
    float: right;
}
#imagePreview, #imageAd, #imageAdbo {
    width: 180px;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}
footer.login{
    width: 100%;
    bottom: 0;
    position: fixed;
    background: #337ab7;
}



#pwdvisibility{
	cursor: pointer;
}

#featuredImageContainer img{
	position: relative;
	width: 100%;
}
#featuredImageContainer .fileinput-preview{
	min-width: 150px;min-height: 150px; max-width: 350px; max-height: 200px;
}

.login-block{
    margin-top: 5%
}

body{
     background: #64DF99;
}

.tag_schedule_date{}

.tag_schedule_date label{
	font-size: 20px;
	margin-bottom: 10px;}
	
	
.tag_schedule_date .date_input{
	border: 0;
	border-bottom: 1px solid #ddd;
	border-radius: 0px;
	font-size: 15px;
	
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.row_date_title{
	background: rgba(22,22,255,.1);
	color: #00A6E4;
	font-size: 13px;
}
.row_date_title .row_date_title{
	color: green;
}
.row_date_title td{
	padding: 2px!important;
	font-size: 13px;
}

.row_date_prog td{
	font-size: 12px;
}


#new_sched_form .form-control{
    border-top: 1px solid #fafafa;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    font-size: 15px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}

.options_btn{
	color: #555;
}

.form-group{
	margin-bottom: 5px;
}

#newArticleForm hr{
	margin: 10px 0px 5px 0px;
}
#newArticleForm label{
	margin: 0px 0px 0px 0px;
}
#newArticleForm ul{
	margin: 0px;
}
#newArticleForm ul li{
	margin: 5px 0px;
	padding: 0px;
}

#search_tb td{
	padding: 5px;}
#search_tb input{}

.table-hover > tbody > tr:hover {
    background-color: #fcfcfc;
	cursor: pointer
}

.table-hover > tbody > tr td {
	font-size: 13.5px;
	padding: 5px;
}
.table-hover > tbody > tr:hover td a.h_ef{
	font-size: 15px;
    font-weight: 800;
}

.modal-dialog{
	margin-top: 80px!important;}
	
.attach_table th{
	font-size: 12px
}

.article_attach_form  td{
	vertical-align: top
}
.article_attach_form  input.title{
	font-size: 12px;
	padding: 0px 5px;
}
.article_attach_form  input.file{
	font-size: 12px;
	padding: 0px;
}


