.logo-box .logo img{
    width: 50% !important;
    padding: 10px 0 !important;
}
.sticky-logo{
    width: 50% !important;
    padding: 10px 0 !important;
}
.slide-cap h1{
    text-transform: uppercase !important;
    font-size: 55px !important;
}
#services-sec{
    padding: 80px 0 !important;
    background-color: #f3f3f3 !important;
}
.why-sec{
    margin-top: unset !important;
}
#paterners{
    padding-top: 80px !important;
}
.service-block-two .inner-box{
    min-height: 330px;
}
.services-section-two{
    padding: 80px 0 !important;
}
#partners{
    padding-top: 80px !important;
    padding-bottom: 120px !important;
}

.solution-section .title-column .inner-column{
    padding: unset !important;
}



        .modal-content {
            border-radius: 15px;
            overflow: hidden;
            border: none;
        }
        .modal-video {
            width: 100%;
            height: auto;
        }

#testimonial-video{
    margin-top: unset !important;
    padding: 80px 0 !important;
}


/* videos podcast */

  .video-container {
      position: relative;
      background-color: #000;
      margin-bottom: 20px;
    }

    .custom-video {
      width: 100%;
      height: auto;
      display: block;
    }

    .controls-overlay {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      pointer-events: none;
    }

    .top-bar, .bottom-controls, .center-play {
      display: flex;
      justify-content: space-between;
      align-items: center;
      pointer-events: auto;
    }

    .top-bar {
      justify-content: space-between;
    }

    .user-info {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .user-info img {
      border-radius: 50%;
    }

    .action-buttons button,
    .bottom-controls button,
    .center-play button {
      background: transparent;
      border: none;
      color: white;
      font-size: 18px;
    }

    .center-play {
      justify-content: center;
    }

    .progress-bar {
      flex: 1;
      margin: 0 10px;
    }

    .time {
      color: white;
      font-size: 14px;
      min-width: 50px;
      text-align: center;
    }

    .pod-profile{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 6px;
        background-color: #01112a;
    }
    .pod-profile img{
        width: 100%;
    }
    .user-info div{
        color: #f1f1f1;
    }

    #podcast-sec{
        padding: 90px 0 !important;
        background-color: #e9f0e2 !important;
    }

    .v-ms{
      padding: 10px 40px 30px;
      font-size: 14px !important;
      color: #f3f3f3 !important;
    }
    .fancybox-slide>*{
      padding: unset !important;
    }


    /* jobs section */
    /* Padding Utilities */

    #nice-select {
      width: 100px;
      
      background: #fff;
      border-radius: 0px;
      padding: 10px 12px;
      color: #5d5d5d;
      line-height: 6px;
      border: 1px solid #ededed;
      border-radius: 5px;
  }

  .job-listing-area .count-job .select-job-items .nice-select .list {
      width: 100%
    }

    .job-listing-area .count-job .select-job-items .nice-select.open .list {
      width: 100%;
      border-radius: 0;
      border: 0
    }

    .job-listing-area .count-job .select-job-items .nice-select::after {
      border-bottom: 1px solid #a9b6cd;
      border-right: 1px solid #a9b6cd;
      height: 8px;
      width: 8px;
      margin-top: -5px;
      right: 17px
    }
    #vac-link {
    color: #8b92dd;
    display: block;
    border: 1px solid #8b92dd;
    border-radius: 30px;
    padding: 4px 33px;
    text-align: center;
    margin-bottom: 25px;
    background-color: unset !important;
}
    .job-listing-area .count-job {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
    .pt-120 {
      padding-top: 120px;
    }
    .pb-120 {
      padding-bottom: 120px;
    }
    .pt-80 {
      padding-top: 80px;
    }
    .pb-50 {
      padding-bottom: 50px;
    }
    .mb-50 {
      margin-bottom: 50px;
    }
    .mb-45 {
      margin-bottom: 45px;
    }
    .mb-35 {
      margin-bottom: 35px;
    }
    .mb-30 {
      margin-bottom: 30px;
    }

    /* Section Title */
    .small-section-tittle2 h4 {
      color: #1e2147;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    .small-section-tittle2 .ion {
      float: left;
      padding-right: 16px;
    }

    /* Checkbox Styling */
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 14px;
      user-select: none;
    }

    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #eee;
      border-radius: 2px;
    }

    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    .container input:checked ~ .checkmark {
      background-color: #f2c009;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.pagination-area {
		padding-bottom: 50px
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.pagination-area {
		padding-bottom: 50px
	}
  .header-top-two{
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.pagination-area {
		padding-bottom: 50px
	}
}

@media (max-width: 767px) {
	.pagination-area {
		padding-bottom: 50px
	}
}

.pagination-area .page-item {
	margin: 0
}

.pagination-area .page-item:first-child {
	margin: 0
}

.pagination-area .page-link {
	border: 0;
	font-size: 15px;
	text-align: center;
	background: none;
	box-shadow: none;
	outline: 0;
	color: #777777;
	padding: 11px 12px;
	background: #fff;
	margin: 0 3px;
	border-radius: 5px;
	border: 1px solid #f0f0f0
}

.pagination-area .page-link:hover {
	color: #fb246a
}

.pagination-area .page-item.active .page-link {
	z-index: 1;
	border: 0;
	position: relative;
	box-shadow: none;
	outline: 0;
	background: #242b5e;
	color: #fff
}
    /* Select Box */
    .select-job-items2 select {
      width: 100%;
      height: 40px;
      border: 1px solid #ddd;
      padding-left: 10px;
      border-radius: 5px;
    }

    /* Filter Widget Box */
    .left_widgets {
      background: #fff;
      border: 1px solid #e1e1e1;
      padding: 30px;
      border-radius: 5px;
    }

    /* Range Slider Inputs */
    .range_item input[type="text"] {
      width: 100%;
      border: 1px solid #ccc;
      padding: 8px;
    }

    /* Job Listing Left Side Box */
    .job-category-listing {
      background: #fff;
      padding: 30px;
      border-radius: 5px;
    }

    /* Job Listing Sections */
    .single-listing {
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 30px;
      padding-bottom: 20px;
    }

    /* Job Listing Right Content */
    .single-job-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fae7e7;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
      flex-wrap: wrap;
    }

    .job-items {
      display: flex;
      align-items: center;
    }

    .company-img {
      margin-right: 20px;
    }

    .company-img img {
      max-width: 100%;
      height: auto;
    }

    .job-tittle {
      flex-grow: 1;
    }

    .job-tittle h4 {
      font-size:17px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #0b1c39;
    }

    .job-tittle ul {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      font-size: 14px;
      color: #777;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .items-link a {
      color: #fff;
      background: #fb246a;
      padding: 10px 20px;
      border-radius: 4px;
      text-decoration: none;
      font-size: 14px;
    }

    .items-link span {
      display: block;
      font-size: 12px;
      color: #888;
      margin-top: 8px;
    }

    /* Main Area Background */
    .job-listing-area {
      background: #f9f9ff;
    }

    /* Responsive Adjustments */
    @media (max-width: 991px) {
      .single-job-items {
        flex-direction: column;
        align-items: flex-start;
      }

      .items-link {
        margin-top: 20px;
      }

      .job-tittle ul {
        gap: 10px;
      }

      .left_widgets {
        margin-bottom: 40px;
      }
    }

    @media (max-width: 767px) {
      .pt-120 {
        padding-top: 60px;
      }
      .pb-120 {
        padding-bottom: 60px;
      }
      .pb-50 {
        padding-bottom: 30px;
      }
      .pt-80 {
        padding-top: 40px;
      }

      .single-job-items {
        padding: 20px;
      }

      .job-tittle h4 {
        font-size: 18px;
      }

      .job-tittle ul li {
        font-size: 13px;
      }
    }

    

    @media (max-width: 576px) {
    .slide-cap h1{
      font-size: 27px !important;
    }
    .year-box{
      display: none;
    }
    .fact-counter{
        display: none;
    }

    .first-col {
      order: 2;
    }

   .second-col {
      order: 1;
    }
    .quality-2{
      display: none;
    }
   .main-header .header-upper .logo-box{
    text-align: left !important;
   }
  .v-ms{
    padding: unset !important;
  }
  }


  /* post details  */
  .post-details2 ul {
	padding-left: 30px
}

.post-details2 ul li {
	list-style-type: circle
}

.post-details3 {
	padding: 30px 30px 30px 30px;
	border: 1px solid #ededed
}

.post-details3 ul li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px
}

.post-details3 ul li:last-child {
	margin-bottom: 50px
}

.post-details4 span {
	color: #5b5c6e;
	font-weight: 700;
	margin-bottom: 10px;
	display: block;
	font-size: 18px
}

.post-details4 p {
	margin-bottom: 30px;
	display: block
}

.post-details4 ul li {
	color: #5b5c6e;
	font-weight: 700;
	font-size: 18px;
	display: block
}

.post-details4 ul li span {
	color: #5b5c6e;
	font-weight: 400;
	font-size: 16px;
	display: inline-block;
	padding-left: 18px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.company-img-details {
		margin-bottom: 20px
	}
}

@media (max-width: 767px) {
	.job-listing-area {
		padding-top: 70px;
		padding-bottom: 70px
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.job-listing-area {
		padding-top: 70px;
		padding-bottom: 70px
	}
}

.job-listing-area .count-job {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap
}

.job-listing-area .count-job span {
	padding-right: 15px;
	color: #1e2147;
	font-size: 16px
}

@media (max-width: 767px) {
	.job-listing-area .count-job span {
		margin-bottom: 30px
	}
}


#job-details .btn {
    background: #f2be00;
    -moz-user-select: none;
    text-transform: capitalize;
    color: #010101;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 25px 44px;
    border-radius: 0px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
    text-transform: uppercase;
}